@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-top: 1px solid #ced4da;
  background-color: #17171a;
  overflow-x: hidden;
}

.title {
  font-family: "Noto Serif", "Jua", serif;
  font-size: 4.25em;
  font-weight: bold;
  text-align: center;
  color: #f7f7f7;
  margin-bottom: 2em;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  color: #f7f7f7;
  /* background-color: red; */
}

.formContent {
  margin: 0.625em 0;
}

.formTitle {
  font-size: 2.5em;
  font-family: "Jua", sans-serif;
}
.formTitle::after {
  content: ": ";
}
.inputs {
  /* height: 100%; */
  font-family: "Jua", sans-serif;
  font-size: 1.875em;
  width: 11.875em;
  background-color: #f7f7f7;
}

.text {
  font-size: 1.25em;
  margin: 0.625em 0;
  font-family: "Jua", sans-serif;
  height: 100%;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: right;
}

.btn {
  background: none;
  font-size: 1.25em;
  border: 2px solid #f7f7f7;
  width: 6.25em;
  height: 3.125em;
  border-radius: 3em;
  color: #f7f7f7;
  font-family: "Jua", sans-serif;

  cursor: pointer;
}
