/* style/Footer.module.css */
.footerContainer {
  position: relative;
  min-height: 800px;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.contactWrapper {
  position: fixed;
  bottom: 0;
  height: 800px;
  width: 100%;
}

@media (max-width: 768px) {
  .contactWrapper {
    height: 650px;
  }
}
