/* style/Footer.css */
.footerContainer {
  position: relative;
  height: 800px;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.footerWrapper {
  position: relative;
  height: calc(100vh + 800px);
  top: -100vh;
}

.footerContent {
  height: 800px;
  position: sticky;
  top: calc(100vh - 800px);
}
