@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-size: 16px; /* 기본 글자 크기 설정 */
}

.headerDiv {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 99;
  flex-direction: column;
  justify-content: center;
  font-size: 3.25em;
  color: #ffffff;
  background-color: #111111;
  letter-spacing: 1.25em;
}

.words {
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.words p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Serif", serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

/* 유동적인 글자 크기 설정 */
@media (max-width: 1200px) {
  .headerDiv {
    font-size: 2em; /* 80px에 해당 */
  }
}

@media (max-width: 992px) {
  .headerDiv {
    font-size: 1.5em; /* 60px에 해당 */
  }
}

@media (max-width: 768px) {
  .headerDiv {
    font-size: 1.5em; /* 40px에 해당 */
  }
}

@media (max-width: 576px) {
  .headerDiv {
    font-size: 1em; /* 30px에 해당 */
  }
}
