@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.main {
  width: 100%;
  display: flex;
  font-family: "Jua", sans-serif;
  flex-direction: column;
  /* margin-left: 40em; */
  margin-top: 20em;
  justify-content: center;
}

.history {
  display: flex;
  flex-direction: column;
  display: inline-block;
  font-size: 1.8em;
  line-height: 1.8125em;
  margin: 2.125em 0;
}

.history p:nth-child(6) {
  display: inline-block;
  cursor: pointer;
}

.history p:last-child {
  display: inline-block;

  cursor: pointer;
}
.skilContainer {
  display: flex;
  flex-direction: column;
  width: 21.875em;
}

.skilTitle {
  font-size: 1.8em;
  font-weight: bold;
}

.skilGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.625em;
  justify-items: center;
  align-items: center;
  margin: 1.25em 0;
}

.skilGrid div {
  width: 6.25em;
  height: 6.25em;
  cursor: pointer;
  border-radius: 20%;
}

.hyper {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .main {
    margin: 0;
    align-items: center;
  }
}
