@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.history {
  display: flex;
  flex-direction: column;
  font-size: 1.8em;
  line-height: 45px;
  margin: 50px 0;
}

.history p:nth-child(6) {
  cursor: pointer;
}
.history p:last-child {
  cursor: pointer;
}
.skilContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skilTitle {
  font-size: 1.8em;
  font-weight: bold;
}

.skilGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.625em;
  /* width: 500px;
  height: 300px; */
  justify-items: center;
  align-items: center;
  margin: 1.25em 0;
}

.skilGrid div {
  width: 6.25em;
  height: 6.25em;
  cursor: pointer;
  border-radius: 20%;
}

.hyper {
  text-decoration: underline;
}
