@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.main {
  height: 300vh;
}

.imgContianer {
  height: 100%;
  display: flex;
}

.img {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}

.title {
  font-family: "Noto Serif", serif;
  font-size: 10em;
  font-weight: bold;
  z-index: 10;
  position: relative;
  top: 50%;
  text-align: center;
}
