@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 300vh;
  margin: 12.5em 0 0 0;
}

.title {
  font-family: "Noto Serif", serif;
  font-size: 12.5em;
  font-weight: bold;
}

.Projects {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.projectsbody {
  display: flex;
}

.projectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.under {
  text-decoration: underline;
  cursor: pointer;
}

/* .imgs {
  width: 300px;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
border-radius: 10px;
} */

.contents {
  line-height: 3.125em;
  width: 60vw;
}
.projectTitle {
  font-family: "Noto Serif", serif;
  display: inline-block;
  margin: 1.25em 0;
  position: relative;
  font-size: 3.75em;
}

.projectTitle::before {
  content: "프로젝트: ";
  font-family: "Noto Sans KR", sans-serif;
}

.git {
  font-size: 1.25em;
  margin: 1.25em 0;
  cursor: pointer;
  text-decoration: underline;
}

.git::before {
  content: "Git Hub: ";
  text-decoration: none;
  cursor: auto;
}

.contents p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.125em;
  white-space: pre-line;
  line-height: 2.5em;
  color: #868e96;
}

.projectDescriptionTitle {
  font-weight: bold;
  color: #111111;
}

.projectDescriptionTitle::after {
  content: " ";
}

.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #111111;
  color: #ffffff;
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  pointer-events: none;
  z-index: 100;
  cursor: pointer;
}
.cursorLabel {
  background-color: transparent;
}
